@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #A0BEEE;
}

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: #f6f8ff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


#form_title {
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: #6366f1;
    left: 0;
    bottom: 0;   
}

main {
    position: center;   
    width: 500px;
    background-color: whitesmoke;
    margin: auto;
}

label {
    padding: 0px 0px 0px 0px;
    display: inline-block;
    width: 250px;
    font-size: 12px;
    color: #404044;
    font-weight: 500;
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(44, 0, 0, 0.1);
    width: 150px;
}

input {
    height: 20px;
    margin: 5px;
    display: inline-block;
    position: left;
    gap: 5px;
}

#male {
    display: flex;
    gap: 4px;
    align-items: center;
}


#female {
    display: flex;
    gap: 4px;
    align-items: center;
}



fieldset{
    margin: 5px;
}

.btn-submit{
    background-color: #A0BEEE; 
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    border-radius: 8px; /*arredonda a borda*/
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #8d96e8;
}

